<div class="full-page-layout">
  <app-header></app-header>
  <div class="page-content">
    <ion-content [fullscreen]="true" class="welcome-content">
      <div class="welcome-container">
        <h1 class="welcome-title">Bienvenido</h1>
        <p class="welcome-text">Nos alegra verte de nuevo en UnusualCode</p>
      </div>
      <div class="cards-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Solicitudes de Contacto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido para solicitudes de contacto -->
            Aquí aparecerán las solicitudes de contacto.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contribuyentes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido para contribuyentes -->
            Aquí aparecerán los contribuyentes.
          </ion-card-content>
        </ion-card>
      </div>
    </ion-content>
  </div>
  <app-footer></app-footer>
</div>
