.full-page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.welcome-content {
  background-color: #000;
  color: #ffffff;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.welcome-title {
  font-size: 2.0rem;
  color: #6C24FF;
  margin-bottom: 20px;
}

.welcome-text {
  color: #b3b3b3;
  font-size: 1.2rem;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

ion-card {
  flex: 1;
  max-width: 48%;
  min-width: 300px;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

ion-card-title {
  font-size: 1.5rem;
  color: #6C24FF;
}

ion-card-content {
  font-size: 1rem;
  color: #b3b3b3;
}
