.home-content {
  height: 100vh;
  background-color: #000; /* Color de fondo negro */
  color: #ffffff;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
}

.project-title {
  font-size: 2.5rem;
  color: #6C24FF;
  margin-bottom: 20px;
}

.logo-image {
  width: 60px;
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #b3b3b3;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #6C24FF;
}

.login-button {
  --background: #6C24FF;
  --color: #ffffff;
}

.login-button:hover {
  --background: #501A9B;
}
