<ion-content [fullscreen]="true" class="home-content">
  <div class="flex-container">
    <div class="welcome-container">
      <img src="assets/icon/logo.png" alt="Logo del proyecto" class="logo-image"/>
      <h1 class="project-title">UnusualCode</h1>
      <p class="welcome-text">Aquí encontrarás a los mejores programadores de sus áreas</p>
      <p class="description">Conecta con desarrolladores de calidad y lleva tus ideas al siguiente nivel.</p>
      <ion-button expand="block" class="login-button" routerLink="/login">Iniciar Sesión</ion-button>
    </div>
  </div>
</ion-content>
